# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/build

# Development
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Cache
.npm
.eslintcache

# Optional REPL history
.node_repl_history
/.specstory/

# Ignore SpecStory derived-cursor-rules.mdc backup files
.specstory/cursor_rules_backups/*
